{{define "title"}}Create a New Snippet{{end}} {{define "main"}}
<form action="/snippet/create" method="POST">
    <div class="">
        <label>Title:</label>
        <input type="text" name="title" />
    </div>
    <div class="">
        <label>Content:</label>
        <textarea name="content"></textarea>
    </div>
    <div class="">
        <label>Delete in:</label>
        <input type="radio" name="expires" value="365" checked /> One Year
        <input type="radio" name="expires" value="30" checked /> One Month
        <input type="radio" name="expires" value="7" checked /> One Week
        <input type="radio" name="expires" value="1" checked /> One Day
    </div>
    <div class="">
        <input type="submit" value="Publish snippet" />
    </div>
</form>
{{end}}
